.button-container
    width 90px
    height 40px
    cursor pointer
    text-transform uppercase
    --shadow-1()
    background-color #FFF
    margin 0 6px
    border-radius 3px

    &:active
    	background-color $primary-color
    
    &:not(:active)
    	transition background-color 200ms
	
.button-text
    text-align center
    line-height 2.5
 
