.layout
	--layout()
	
.center-justified
	--center-justified()
	
.center-aligned
	--center-aligned()

.horizontal
	--horizontal()
		
.wrap
	--wrap()
	
.background-primary-color
	background-color $primary-color

.color-white
	color #FFF

.pad-bot-20
	padding-bottom 20px
.margin-left--20
	margin-left -20px
	
.shadow-1
	--shadow-1()