#spinner-container
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	background-color rgba(255,255,255,0.85)
	z-index 9999
	text-align center
	transition opacity 500ms
	
	span
		font-size 5rem
		line-height 100vh
		color darken($primary-color, 20)
		
#spinner-container.hidden
	opacity 0
		
	
		